body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.top-buffer {
    margin-top:20px;
}

.remove-container {
    position:fixed;
    bottom:20px;
    right:0;
}

.remove-container button {
    float:right;
}

tr.done,
tr.done td {
    color:rgb(193,46,42);
    opacity:0.4;
    text-decoration:line-through;
}

/*Restyle bootstrap dropdown a bit*/
.dropdown-menu {
    position: relative;
    float:inherit;
    display: block;
}
