@@ -0,0 +1,76 @@
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"><!-- TODO: Add apple icon when on phone homescreen logo whatever it's called -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Shoppinglist - Debug</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body ng-app="DebugApp" ng-controller="DebugController">
    <div class="container" style="font-size:large">
        <h3>Enviroment</h3>
        <button ng-click="isDevelopment=!isDevelopment">Current:{{getEnviromentName()}}</button>
        <h3>Autocomplete items</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>name</th>
                    <th>lastAdded</th>
                    <th>doneCount</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in historyItems">
                    <td>{{item.name}}</td>
                    <td>{{getDate(item.lastAdded)}}</td>
                    <td>{{item.doneCount}}</td>
                </tr>
            </tbody>
        </table>
    </div>
        <script src="js/vendor/jquery-1.11.0.min.js"></script>
        <script>
            window.scrollTo = function() {}; //Angular calls this for basiclly no good reason causing errors with popup blockers (at least in chrome. havent tested other browsers)
        </script>
        <script src="js/vendor/angular.min.js"></script>
        <script>
            debugApp = angular
                .module('DebugApp', [])
                .controller('DebugController', function ($scope) {
                    //--------------------------------
                    //---- Environment ---------------
                    //--------------------------------
                    $scope.isDevelopment = localStorage && localStorage.shoppinglist_environment_v1 && localStorage.shoppinglist_environment_v1 === 'development';
                    $scope.getEnviromentName = function () {
                        if($scope.isDevelopment) {
                            return 'Development';
                        } else {
                            return 'Normal user';
                        }
                    };
                    $scope.$watch('isDevelopment', function () {
                        if($scope.isDevelopment === true) {
                            localStorage.shoppinglist_environment_v1 = 'development';
                        } else if ($scope.isDevelopment === false) {
                            localStorage.shoppinglist_environment_v1 = undefined;
                        }
                    });
                    //--------------------------------
                    //---- Autocomplete --------------
                    //--------------------------------
                    if(localStorage && localStorage.shoppinglist_history_v1) {
                        var h = JSON.parse(localStorage.shoppinglist_history_v1);
                        $scope.historyItems = h.items;
                        $scope.getDate = function (x) {
                            return new Date(x);
                        };
                    }
                });
        </script>
    </body>
</html>
